<html>
<head>
    <title>My Team</title>
    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 70%;
        }

        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <form class="contract" method="post">
        <h3> Contract</h3>
        Team Name: {{team_name}}
        <br>
        {{data1}}

        <h3> Search a player </h3>
        <div class="tableDivision">
        <input type="text" class="searchplayer" name="searchplayer" placeholder="Search player" />
        <input type="submit" name="action" value="Search" />
        {{data2}}
        </div>
        <br><br>
        <input type="submit" name="action" value="Back" />
        <br><br>
</body>
</html>