<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>Login</h1>
			<form action="/login" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="email" placeholder="email" id="email" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>

			   <label for="UserType">
			   <i class="fas fa-user"></i>
			   </label>
			    <select name="type">
				<option value="None">Select User Type</option>
				<option value="Manager">Manager</option>
				<option value="Fan">Fan</option>
				</select></br></ber>
				{% with messages = get_flashed_messages() %}
				{% for msg in messages %}
				</br>
				<div class = 'display' color = 'red'> {{msg}}</div>
				{% endfor %}
				{% endwith %}</br></br>
				<input type="submit" value="Login">

			</form>
		</div>
	</body>
</html>